.demo-card-wide.mdl-card {
    width: 100%;
}
.demo-card-wide > .mdl-card__title {
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.addNewButton {
    position: fixed;
    right: 2.5%;
    bottom: 2.5%;
    z-index: 1;
}